/* Navbar Styles */
.navbar {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 10px 20px; /* Adjusted padding for smaller height */
  background-color: #000;
  color: #fff;
}

.logo {
  font-size: 1rem; /* Smaller logo size */
  font-weight: bold;
  color: #ff0000;
  margin: 0px 1px 0px 0px; /* Adjusted spacing */
  align-self: flex-start; /* Align logo to the top-left corner */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-buttons {
  display: flex;
  gap: 15px; /* Reduced gap for a compact design */
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-buttons li {
  display: inline;
}

.nav-buttons li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem; /* Smaller button text */
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-buttons li a:hover {
  color: #ff0000;
  /* background-color: #ff0000;
  border-radius: 5px; */
}

.search-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-bar {
  padding: 5px 25px; /* Adjusted padding for a compact height */
  font-size: 0.9rem;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

.search-bar::placeholder {
  color: #aaa;
}

.cart-button {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px 5px 5px; /* Reduced padding */
  border: none;
  border-radius: 4px;
  font-size: 0.9rem; /* Smaller font size */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-button i {
  font-size: 1rem;
}

.cart-button:hover {
  background-color: #8b0000;
}

/* Default state: Show all items */
.nav-buttons .menu-dropdown {
  display: none; /* Hidden by default */
}

.nav-buttons .nav-item {
  display: inline-block;
}

/* Dropdown container */
.menu-dropdown .menu-btn {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  display: inline-block;
}


.menu-dropdown .dropdown-content {
  display: none;
  padding: 10px 0px 10px 0px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  min-width: 130px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-dropdown:hover .dropdown-content {
  display: grid;
  
}

.dropdown-buttons{
  margin: 2px;
}

.dropdown-buttons:hover{
  width: 100%;
}

/* Small screen styles */
@media (max-width: 768px) {
  .nav-buttons .menu-dropdown {
    display: inline-block; /* Show Menu button */
  }

  .nav-buttons .nav-item {
    display: none; /* Hide Home */
  }
}


